$color-white: #fff;
$color-black: #000;
$color-1: #eeeeee;
$color-2: #df1f26;
$color-3: #d7252b;
$color-4: #fadfe7;
$color-5: #ebd4dd;
$color-6: #2f2f2f;
$color-7: #909191;

$font-big: 3.6rem;
$font-medium: 2.4rem;
$font-xm: 1.8rem;
$font-regular: 1.4rem;

$color-header-logo: $color-2;
$color-button-nav: $color-1;
$color-nav-list-hover: $color-2;
$color-bgc-section-search: $color-4;
$color-label-search: $color-2;
$color-search-button: $color-2;
$color-search-button-hover: #ce0e36;
$color-input: #c9c9c9;
$color-arrow-nav-sidebar: #e8e681;
$color-bgc-main: $color-1;
$color-bgc-nav-sidebar: $color-1;
$color-border-nav-siderbar: $color-7;
$color-icon-delivery: $color-2;
$color-title-article: $color-2;
$color-bgc-button-product: $color-3;
$color-button-product-hover: $color-7;
$color-bgc-footer: $color-5;
$color-social-list: $color-2;
$color-bgc-footer-copyright: $color-6;

$font-header-logo: 3rem;
$font-nav-list: $font-regular;
$font-title-hero: 5rem;
$font-label-search: 1.5rem;
$font-icon-delivery: 6rem;
$font-section-delivery: $font-big;
$font-title-article: 2rem;
$font-icon-article: 3rem;
$font-article: 1.3rem;
$font-social-list: 3rem;

$color-button-hover: #fc2f82;
$color-border-footer: #1a1a1a;
$color-input-placeholder: #cbcbcb;

$font-title-hero-2: 16rem;
$font-title-section: 5rem;
$font-number-section: 4rem;
$font-price: 12rem;
